# Node Modules
node_modules

# Files that contain secrets
.env

# System files
.DS_Store
.vscode
Thumbs.db

# Any files in any directory named "output"
**/output/

eslint.config.mjs

package-lock.json
deno.lock